/* CSS reset */
*{ margin: 0; padding: 0; box-sizing: border-box; caret-color: transparent;/*font-family: "Malgun Gothic", "맑은 고딕", Sans-serif, Roboto, Arial;*/  }
body{ background: rgba(0,0,0,.06); }
body::-webkit-scrollbar{opacity:1;width:5px; height: 15px;}/*스크롤바*/
body::-webkit-scrollbar-button {width:0; height: 0;}  /*스크롤바 버튼(아래 위 화살표)*/
body::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.2);  background-clip: padding-box;  border: 0px solid transparent;  border-radius: 10px;}/*스크롤바 핸들*/
body::-webkit-scrollbar-track{background-color:rgba(255,255,255,.7);}/*스크롤바 진행줄*/
body::-webkit-scrollbar-corner {background:rgba(0,0,0,.08);}/*상하 좌우 스크롤이 만나는 공간*/

.loding{ opacity: .4; }
li{ list-style: none; } 
button{ cursor:pointer; }
a{ text-decoration: none; color: rgba(0,0,0,.9);}

input[type=radio], input[type=checkbox]{ width: 20px; height: 20px; vertical-align:-30% }
input, button, select{ margin: 2px 0px; padding:2px;  vertical-align: middle; border-radius: 3px; border:solid 1px rgba(0,0,0,.2); font-size: 12px; }
input[type='file']{ cursor:pointer; padding: 1px 3px;  font-size: 11px; margin-left: 4px; }
button{ cursor:pointer; padding: 1px 3px;  font-size: 11px;  }
select{ margin: 2px 3px 2px 2px; min-width: 100px; padding: 1px 3px 1px 1px; font-family: "Malgun Gothic", "맑은고딕", Sans-serif, Roboto, Arial;}
textarea{  width: 370px; height: 30px; margin:2px 2px 2px;  padding: 5px; font-size: 12px; border:solid 1px rgba(0,0,0,.2); border-radius: 3px; font-family: "Malgun Gothic", "맑은고딕", Sans-serif, Roboto, Arial;  }
input[type=text], input[type=password], input[type=number]{ width: 100px; padding: 2px 3px 2px 5px; margin:2px 2px; color: rgba(0,0,0,.8); font-family: "Malgun Gothic", "맑은고딕", Sans-serif, Roboto, Arial; font-weight: 700; }
.input100{ width: 40% !important; }
form > fieldset{ border: 0; margin: 0; padding: 0; }
form > fieldset legend{ font-size: 14px; font-weight: 600; padding-bottom: 5px; }

/* index.html 최상위 root */
#root{ width: 100%; min-height: 100vh; display: flex; flex-direction: column;}

table, table * {
  caret-color: transparent; /* 깜박이는 커서 숨김 */
}
input:disabled,
select:disabled,
textarea:disabled {
  background: rgba(0,0,0,.07);    /* 밝은 회색 배경 */
  color: rgba(0,0,0,.5);            /* 글자 너무 흐리지 않게 */
  border-color: rgba(0,0,0,.1);     /* 테두리 연하게 */
  cursor: not-allowed;    /* 마우스 포인터 금지 표시 */
  opacity: 1;             /* 일부 브라우저 자동 반투명 방지 */
}