/* 모달 레이어 */
.user-scope .leftModal{ position:fixed; top: 0; left: 279px;  width:360px;  height: 100%; z-index: 99;  }
.user-scope .rightModal{ position:fixed; top: 0; right: 400px;  width:360px;  height: 100%; z-index: 98;  }


.user-scope .modal_box{ position: relative;  height: 100%; background: #fff;  box-shadow: 5px 5px 5px rgba(0,0,0,.2); font-size: 13px; border-left:solid 1px rgba(0,0,0,.3); display: flex;
    flex-direction: column; overflow: hidden; }
.user-scope .rightModal .modal_box{ box-shadow: -5px -5px 5px rgba(0,0,0,.2);}


/* 닫기 버튼 */
.user-scope button.modalClose{ font-size: 30px; position: absolute; top:10px; right:10px; background: none; padding: 0; border: 0; outline: 0; opacity: .7; color:rgba(0,0,0,.9);  text-shadow: inset 0 2px 3px rgba(0,0,0,0.5); text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; }
.user-scope button.modalClose:hover{ opacity: .99; }

/* 상단 대표 이미지 */
.user-scope .modal_img_bg{  max-height:270px; overflow: hidden; }
.user-scope .modal_img_box img{ width: 100%; max-height:250px;  object-fit: cover;   /* cover / contain / fill */object-position: center; display: block; }

/* 모달 콘텐츠 개요 */
.user-scope .modalContentOutline{ margin: 10px 20px 0px; padding-bottom:7px; border-bottom:solid 1px rgba(0,0,0,.2)  }
.user-scope .modalContentOutline h3{ font:600 20px/26px 'Noto Sans KR', SansSerif; letter-spacing:-1px; }

/* 추가사진이미지 */
.user-scope .additionImgWrap{ display: flex; justify-content: space-between; align-items: center;  flex-wrap: wrap; }
.user-scope .additionImgWrap li{ padding: 2px 3px; width: 50%; }
.user-scope .additionImgWrap img{ width: 100%; max-height: 130px; border-radius: 3px; display: block; }

/* 모달 콘텐츠 본문 */
.user-scope .modalContent{ min-height: 0; padding:10px 20px 50px; overflow-y:auto; }
.user-scope .modalContent h4{ font:600 16px/24px 'Noto Sans KR', SansSerif; letter-spacing:-1px; padding: 20px 0 5px; }
.user-scope .modalContent ul li{ display: flex; }
.user-scope .modalContent ul li b{ display: inline-block; min-width: 70px; color:rgb(19, 121, 19); }
.user-scope .modalContent ul li a{ text-decoration: underline; color: rgb(25, 74, 233); }


.user-scope .modalContent { transition: .2s ease; 
        scrollbar-face-color:#ddd;/*스크롤*/
        scrollbar-highlight-color:#ddd;/*하이라이트*/
        scrollbar-3dlight-color:#ddd;/*왼쪽외곽음영*/
        scrollbar-darkshadow-color:#ddd;/*오른쪽외곽음영*/
        scrollbar-shadow-color:#ddd;/*오른쪽 안쪽음영*/
        scrollbar-arrow-color:#ddd;/*화살*/
        scrollbar-track-color:rgba(255,255,255,.1);/*스크롤영역*/
    }
.user-scope .modalContent::-webkit-scrollbar{opacity:1; width:5px; height: 15px;}/*스크롤바*/
.user-scope .modalContent::-webkit-scrollbar-button {width:0; height: 0;}  /*스크롤바 버튼(아래 위 화살표)*/
.user-scope .modalContent::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.2); background-clip: padding-box;  border: 0px solid transparent;  border-radius: 10px;}/*스크롤바 핸들*/
.user-scope .modalContent::-webkit-scrollbar-track{background-color:rgba(255,255,255,1);}/*스크롤바 진행줄*/
.user-scope .modalContent::-webkit-scrollbar-corner {background:rgba(0,0,0,.08);}/*상하 좌우 스크롤이 만나는 공간*/


