.user-scope .gnb{ display: none; }

.user-scope .signUpWrap{ max-width: 550px; background: rgba(255,255,255,1); margin: 0 auto; padding: 40px 50px; border-radius: 40px; box-shadow: 0 0 10px rgba(0,0,0,.1); }
.user-scope .signUpWrap > h1{ text-align: center; font-size: 30px;  color: #333; }
.user-scope .signUpWrap > p{ font-size: 16px; margin:5px 0 20px; color: #555; text-align: center; }
.user-scope .signUpWrap > p a{ color:  rgba(0, 191, 99, 1); font-weight: 500; }

.user-scope .signUpWrap form > section{ display: flex; flex-wrap:wrap; justify-content: space-between; border-top:solid 1px rgba(0,0,0,.1); padding: 10px 0; align-items: center}
.user-scope .signUpWrap form > section > label, .signUpWrap form > section > span{ flex: 1 1 20%; width:100%; margin:2px 0; padding: 10px; font-weight: 500; }
.user-scope .signUpWrap form > section > input, .signUpWrap form > section > div{ flex: 1 1 70%; width:100%; margin:2px 0;  }
.user-scope .signUpWrap form > section > input{ font-size:15px; padding: 10px 20px; border-radius:20px; border:0; background: rgba(0,0,0,.07);}
.user-scope .signUpWrap form > section > div{ padding: 10px 0; }
.user-scope .signUpWrap form > section > div b{ font-weight: 500; display: inline-block; padding: 0 5px 0 25px; }
.user-scope .signUpWrap form button{ flex: 1 1 100%; width:100%; margin:5px 0; padding: 10px; border-radius:10px; border:0; background: rgba(0,0,0,.1); font-size: 18px; font-weight:600; color:rgba(0,0,0,.5);  }

.user-scope .signUpWrap form #userTypeInput{ display: flex; justify-content: space-between; align-items: center; }
.user-scope .signUpWrap form #userTypeInput > button{ font-size: 14px; margin:0; }

.user-scope .signUpWrap form #userTypeInput > button:nth-child(2){ margin:0 10px; }
.user-scope .signUpWrap form #userTypeInput > button.selected, .signUpWrap form button[type="submit"], .signUpWrap form button.full{ background: rgba(0, 191, 99, 1); color: #fff; }
