/* 3. 푸터(footer) */
.admin-scope footer{  position: fixed; bottom:0; width:179px; margin: 0 auto; padding: 5px 0; background: rgba(255,255,255,1); border-top: solid 1px rgba(0,0,0,.1); z-index: 1; text-align: center; font-size: 11px; line-height: 100%; font-weight: 500; }
.admin-scope small{ color: rgba(0,0,0,.6); font-size: 11px; line-height: 100%;}


/* ========== 반응형 =========== */
 @media (max-width: 1100px){
.admin-scope footer{ width:100%; padding:2px 0;  } 
 }